@import './base.css';

body {
  background-color: #f4eee6;
  font-family: 'Inter', sans-serif;
  width: 100%;
}

.footer {
  display: block !important;
  text-align: center !important;
  margin-bottom: 2%;
}

@media (max-width: 800px) {
  .footer {
  }
}

